@font-face {
  font-family: "iconfont"; /* Project id 3511477 */
  src: url('iconfont.woff2?t=1657442180368') format('woff2'),
       url('iconfont.woff?t=1657442180368') format('woff'),
       url('iconfont.ttf?t=1657442180368') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-renshu:before {
  content: "\e6b6";
}

.icon-wenzhang:before {
  content: "\e668";
}

.icon-liulan:before {
  content: "\e648";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-wenzhangguanli:before {
  content: "\e652";
}

